#type_user {
	outline: none;	
    padding: 2px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.update_user {
    border: none;
    background-color: rgba(0, 0, 0, 0)
}

.update_user:hover > i {
    opacity: 0.8;
} 

.fas.fa-sync {
    color: #4e73df;
}

.container-login {
    max-width: 500px !important;
}

.highlight-blue {
    color: #4e73df;
    font-weight: 700;
}

.row-login {
    justify-content: center;
}

.custom-col-8 {
    min-width: 80px;
}

.custom-col-12 {
    min-width: 120px;
}

.custom-col-16 {
    min-width: 160px;
}

.logo-login {
    font-weight: 600;
    color: #4e73df;
}

.total-detail-order {
    min-width: 150px;
}

.btn-order {
    font-weight: 600;
}

.btn-order:hover {
    text-decoration: none;
    font-weight: 600;
}

@media (min-width: 992px) { 
    .content-login {
        max-width: unset !important;
        flex: unset !important;
    }
}